body {
    background-image: url("../images/space.jpeg");
    }
  
h1, p, h2, div, h3 {font-family: "Share Tech Mono", monospace;}

  .crystalImage {
    width: 100px;
    height: 100px;
  }

  .jumbotron {
    background-color:transparent;
    border: dotted blue;
    color: silver;
  
  
  }
  
  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 80px !important;
    text-shadow: 0 0 0.2em rgb(126, 253, 110);
  }
  
  p {
    text-align: center;
    font-size: 30px;
  }
  
  h2 {
    text-align: center;
    font-size: 30px;
  }
  
  div {
    text-align: center;
    font-size: 22px;
  }
  
  h3 {
    text-align: center;
    font-size: 30px;
  }